@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@800&display=swap');

:root{
  --font:'Manrope', sans-serif;
  --neutral-dark-blue:  hsl(218, 23%, 16%);

}

* {
  box-sizing: border-box;
}

body {
  background-color:var(--neutral-dark-blue);
  margin: 0;
  letter-spacing: 0.5px;
  font-size: 11px;
  font-family: var(--font);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}